body {
    background-color: black;
}

.myheader {
    position: fixed;
    width: 100%;
    height: 8vh;
    margin: 0px;
    top: 0px;
    background-color: rgba(120,34,0,1);
    color: white;
    font-size: 40px;
    font-size: 5vh;
    Z-index: 2;
    overflow: hidden;
}

.pageselector {
    position: relative;
    left:-3vh;
    height: 80%;
    width: 200px;
    background-color: rgba(0,0,0,0);
    color: white;
    border:0px solid #ccc; 
    align-self: center;
}
.pageselector:hover {
    background-color: rgba(80,15,0,1);
}
.pageselector:focus {
    border:0px solid #ccc; 
    background-color: rgba(80,15,0,1);
    outline: none;
}

.mylargecontainer {
    position: relative;
    top: 8vh;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mygraphcontainer {
    position: relative;
    height: 80vh;
    max-width: 100%;
    min-width: 60%;
    margin: 2%;
    background-color: rgba(0,0,0,0);
    color: white;
}

.mygraphdata {
    position: relative;
    height: 50vh;
    max-width: 100%;
    min-width: 60%;
    margin: 2%;
    background-color: rgba(0,0,0,0);
    color: white;
}

.mygraphshape {
    position: relative;
    height: 30vh;
    max-width: 100%;
    min-width: 60%;
    margin: 2%;
    background-color: rgba(0,0,0,0);
    color: white;
}

.myform {
    position: relative;
    width: 380px;
    top: 10px;
    margin: 1%;
    background-color: rgba(0,0,0,0);
    color: white;
}

.field {
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 5px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    text-transform: capitalize;
    outline: none;
    width: 140px;
}
.field:hover{
    background: rgb(100,0,0);
}
.field:focus {
    background: rgb(100,0,0);
}

.tablespaced { 
    border-collapse:separate; 
    border-spacing:0 5px; 
} 

.button {
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px solid;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    width: 80%;
    border-radius: 5px;
}
.button:hover{
    background: rgb(100, 0, 0);
}

.checkmark {
    -webkit-appearance: none;
    background: rgba(0,0,0,0.6);
    border: 10px solid rgba(100,100,100,0);
    box-shadow: 0 0 0 2px white;
    border-radius: 3px;
	padding: 9px;
	display: inline-block;
    position: relative;
}
.checkmark:hover {
    background: rgb(80,0,0);
}
.checkmark:active, .checkmark:checked:active {
	box-shadow: 0 0 0 2px white;
}
.checkmark:checked {
	background-color: rgb(120,0,0);
	box-shadow: 0 0 0 2px white;
	border-color: rgb(120,0,0);
}
.checkmark:checked:after {
    border-color: rgb(120,0,0);
}

.myfirstskip {
    position: relative;
    top: 100px;
    width: 100%;
    height: 8vh;
    background-color: rgba(120,34,0,1);
    overflow: hidden;
    margin-bottom: 50px;
}

.myskip {
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: rgba(120,34,0,1);
    overflow: hidden;
}

.myparagraph {
    position: relative;
    width: 90%;
    background-color: rgba(0,0,0,0);
    color: white;
    margin: 5%;
    text-align: justify;
}

.mysmallparagraph {
    position: relative;
    max-width: 600px;
    min-width: 300px;
    background-color: rgba(0,0,0,0);
    color: white;
    margin: 5%;
    text-align: justify;
}

.imagecontainer {
    position: relative;
    width: 90%;
    height: 60%;
    margin: 5%;
    color: white;
    display: flex;
    flex-flow: row wrap;
}

.imagetext {
    position: relative;
    height: 100%;
    width: 600px;
    margin-right: 25px;
    text-align: justify;
}

.image {
    float: right;
    height: 300px;
    width: 600px;
    align-self: center;
}

pre code {
    background-color: rgba(255,255,255,0.1);
    height: 50vh;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    color: rgb(255, 255, 255);
    overflow-x: scroll;
    overflow-y: scroll;
    resize: vertical;
    padding-left: 50px;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-resizer {
    border: 1px solid rgba(100,100,100,1);
    background: rgba(48, 48, 48, 1);

    /*size does not work*/  
    display:block;  
    width: 150px !important;
    height: 150px !important;
}

a {
    color: rgb(243, 102, 102);
}

a:hover {
    color: rgb(243, 102, 102);
}


.end {
    width: 100vw;
    background-color: rgba(100,25,0,1);
    color: white;
    font-size: 15px;
    padding: 20px;
    padding-left: 5%;
    overflow: hidden;
}

@media only screen and (max-width: 1128px) {

    .mygraphcontainer {
        position: relative;
        height: 80vh;
        width: 100%;
        margin: 2%;
        background-color: rgba(0,0,0,0);
        color: white;
    }

    .imagetext {
        position: relative;
        height: 100%;
        width: 100%;
        margin-right: 25px;
        text-align: justify;
    }
    .image {
        height: auto;
        max-width: 100%;
        min-width: 100%;
    }
}